@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-background text-textPrimary;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #b5b3bc;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

@layer components {
  .title {
    @apply font-montserrat text-5xl font-bold text-textPrimary;
  }

  .heading-h1 {
    @apply font-montserrat text-4xl font-normal text-textPrimary;
  }

  .heading-h2 {
    @apply font-montserrat text-4xl font-normal text-textPrimary;
  }

  .text-body-default {
    @apply font-montserrat text-base font-normal text-textPrimary;
  }

  .text-body-bold {
    @apply font-montserrat text-base font-bold text-textPrimary;
  }

  .assistive-text-default {
    @apply font-montserrat text-xs font-normal text-textPrimary;
  }

  .container {
    @apply mx-auto max-w-7xl px-2 sm:px-6 lg:px-8;
  }
}
